name: Metrics
on:
  schedule: [{ cron: "0 6 * * *" }]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Overview (default)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg
          user: Jrlinaresk
          template: classic
          base: header, activity, community, repositories, metadata

      - name: Highlights
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics-highlights.svg
          user: Jrlinaresk
          template: classic
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_notable: yes
          plugin_notable_repositories: yes

      - name: Repos details (featured/topics/license/size)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics-repos.svg
          user: Jrlinaresk
          template: classic
          base: repositories
          plugin_topics: yes
          plugin_topics_limit: 12

      - name: Issues & PRs (volume/activity)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics-issues-prs.svg
          user: Jrlinaresk
          template: classic
          base: ""
          plugin_followup: yes
          plugin_followup_sections: repositories
          plugin_issues: yes
          plugin_prs: yes

      - name: Languages (detailed)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics-languages.svg
          user: Jrlinaresk
          template: classic
          base: ""
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 10

      - name: Community / Social (followers, interaction)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics-community.svg
          user: Jrlinaresk
          template: classic
          base: community
          plugin_people: yes
          plugin_people_types: followers, following
          plugin_people_limit: 30
